* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    max-width: 1100px;
    margin: auto;
}

.top {
    border-bottom: #fff 2px solid;
    background-color: rgb(37, 175, 218);
    color: #fff;
    text-align: center;
    height: 55px;
}

.top h2 {
    font-size: 23px;
    padding-top: 15px;
}

section {
    padding: 20px;
    background-image: url('/img/folder.jpg');
    height: 450px;
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    margin-top: 20px;
    float: right;
}

h2 {
    font-size: 16px;
}

.mb {
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    color: #fff;
    font-weight: bold;
    background-color: rgb(37, 175, 218);
}

footer{
    background-color: #1a1b1b;
    padding: 40px;
    text-align: center;
}

.picture {
    width: 160px;
}

.description {
    color: #fff;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}

.description p, .description h2 {
    margin-bottom: 20px;
}

.description h2 {
    font-size: 24px;
}

@media(max-width: 700px) {
    .top h2 {
        font-size: 18px;
        padding: 10px;}
}
